<app-app-header title='Momentz-4-ever'></app-app-header>
<!--<p *ngIf="roles.Employee===currentRole">View your vacation requests: </p>
<p *ngIf="roles.Manager===currentRole">View vacation requests of employees: </p>-->
<ul class="heroes">
  <li *ngFor="let userVacationRequest of userVacationRequests" class="textHolidays">
    <div>
    <a>
        On dates:{{userVacationRequest.startDate | date}}---{{userVacationRequest.endDate | date}}, Employee : {{userVacationRequest.userName}}, with type:{{userVacationRequest.vacationType}},and {{userVacationRequest.payment}} payment days, have a status: {{userVacationRequest.status}}
    </a>
    <span *ngIf="roles.Employee===currentRole">
      <button *ngIf="userVacationRequest.startDate>dateNowISO" class="delete btn btn-secondary btn-sm" title="delete holiday" (click)="deleteVacationRequest(userVacationRequest)">
        Delete
      </button>
    </span>
    <span *ngIf="roles.Manager===currentRole">
    <span>
      <button *ngIf="userVacationRequest.startDate>dateNowISO" (click)="clickMethodchangeStatus('accept',true, userVacationRequest.id, userVacationRequest)" class="btn btn-primary btn-sm">
        Accept
      </button>
    </span>
    <span>
      <button *ngIf="userVacationRequest.startDate>dateNowISO" (click)="clickMethodchangeStatus('decline',false, userVacationRequest.id, userVacationRequest)" class="btn btn-secondary btn-sm">
        Decline
      </button>
    </span>
      </span>
      </div>
  </li>
</ul>
<button *ngIf="currentRole===roles.Employee" type="button" class="btn btn-primary btn-lg" (click)="openDialog()">
  Create a new vacation request
</button>
