<app-app-header title='Momentz-4-ever'></app-app-header>
<!--<div class="jumbotron">
  <button type="button" class="btn btn-primary btn-lg float-left" (click)="openDialog()">
    Create a new Worker
  </button>
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/vacationPolicies">VacationPolicy</a>
    <a mat-tab-link routerLink="/holidays">Holidays</a>
    <a mat-tab-link routerLink="/vacationRequests">Vacation request</a>
    <a mat-tab-link routerLink="/calendar">Calendar</a>
  </nav>
  <button class="btn btn-secondary btn-lg float-right username" type="submit" (click)="logOut()">
    Log out
  </button>-->
  <!--<span class="float-right">Hello {{userName}}</span>-->
<!--</div>
<router-outlet></router-outlet>-->

<h1 class="font-italic text-center">Please, click on a tab, what do you want to see!</h1>
