<!--<a (click)="clickShowHolidays()">View company holidays: </a>-->
<button type="button" (click)="clickShowHolidays()" class="btn btn-primary btn-lg btn-block main">View company holidays:</button>
<div *ngIf="isVisible">
<ul class="heroes  col-sm-12" *ngIf="holidays" >
  <li *ngFor="let holiday of holidays" class="textHolidays">
      <span class="col-sm-10">Date:{{holiday.date|date}}
    Name:{{holiday.description}}</span>
    <button *ngIf="isHrUser" title="delete holiday" (click)="deleteHoliday(holiday)" class="btn btn-secondary btn-sm pos">
      x
    </button>
  </li>
</ul>
  </div>
<div *ngIf="isHrUser">
<p>ADD NEW HOLIDAY:</p>
<div class="formHoliday">
  <label>
    <span class="col-sm-4">
      Date:
    </span>
    <input type="date" #dateHoliday class="col-sm-8" />
  </label>
  <label>
    <span class="col-sm-4">
      Name:
    </span>
    <input #nameHoliday class="col-sm-8" />
  </label><br>
  <button (click)="add(dateHoliday.value, nameHoliday.value)" class="btn btn-primary btn-sm">
    add
  </button><br>
  <div *ngIf="errors" class="alert alert-danger" role="alert">
    <strong>Oops!</strong> {{errors}}
  </div>
</div>
</div>
