<app-app-header title='Momentz-4-ever'></app-app-header>
<div>
<ul class="heroes  col-sm-12" *ngIf="holidays" >
  <li *ngFor="let holiday of holidays" class="textHolidays">
      <span class="col-sm-10">Date:{{holiday.date|date}}
    Name:{{holiday.description}}</span>
    <button *ngIf="currentRole===roles.HrUser" title="delete holiday" (click)="clickdeleteHoliday(delete,holiday)" class="btn btn-secondary btn-sm pos">
      x
    </button>
  </li>
</ul>
  </div>
  <button *ngIf="currentRole===roles.HrUser" type="button" class="btn btn-primary btn-lg" (click)="openDialog()">CREATE HOLIDAY</button>

