<app-app-header title='Momentz-4-ever'></app-app-header>
<form id="filter">
  <label>Filter:</label>
  <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
</form><br>
<div class="col-sm-8">
  <h1>List of Workers:</h1>
  <div class="list-group">
    <button  *ngFor="let worker of workers" (click)="update(worker)" class="list-group-item list-group-item-action" title="click for update">
      <h3>{{worker.firstName}} {{worker.lastName}}</h3>
      <span *ngIf="worker.role===roles.Employee">
        This worker have role Employee.
        <span *ngIf="worker.team!==null">Work in {{worker.team.name}} company.</span>
        <span *ngIf="worker.team===null">He does not have team.</span>
      </span>
      <span *ngIf="worker.role===roles.Manager">
        This worker has role Manager.
        <span *ngIf="worker.teams.length>0">He is manager for :<span *ngFor="let team of worker.teams">{{team.name}}, </span>.</span>
        <span *ngIf="worker.teams.length==0">This manager does not have a team.</span>
      </span>
    </button>
    <!--<a href="#" class="list-group-item list-group-item-action list-group-item-primary">This is a primary list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">This is a secondary list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">This is a success list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">This is a danger list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">This is a warning list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list group item</a>-->
  </div>
</div>
