<app-app-header></app-app-header>
<form id="filter" title="Please, write first or last name">
  <label>Filter:</label>
  <input class="col-sm-6" type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
</form><br>
<div class="col-sm-8">
  <h1>List of Workers:</h1>
  <div class="list-group">
    <button  *ngFor="let worker of workers| filterlistOfUsers:term" (click)="update(worker)" class="list-group-item list-group-item-action" title="click for update">
      <h3>{{worker.firstName}} {{worker.lastName}}</h3>
      <span *ngIf="worker.role===roles.Employee">
        This worker have role Employee.
        <span *ngIf="worker.team!==null">Work in {{worker.team.name}} company.</span>
        <span *ngIf="worker.team===null">He does not have team.</span>
      </span>
      <span *ngIf="worker.role===roles.Manager">
        This worker has role Manager.
        <span *ngIf="worker.teams.length>0">He is manager for :<span *ngFor="let team of worker.teams">{{team.name}}, </span>.</span>
        <span *ngIf="worker.teams.length==0">This manager does not have a team.</span>
      </span>
    </button>
  </div>
</div>
