span.float-right.username {
  margin-right: 2%;
}
button.btn.btn-secondary.btn-lg.float-right {
  margin-left: 2%;
}
nav.mat-tab-nav-bar.mat-primary {
  width: auto;
  position: relative;
}
.jumbotron {
  padding-top: 48px;
  padding-bottom: 52px;
}
.logo{
  padding: 1px 1px;
  max-width: 100px;
  margin-top: -40px;
}
