<app-app-header title='Momentz-4-ever'></app-app-header>
<ul class="heroes col-sm-12" >
  <li *ngFor="let vacationPolicy of vacationPolicies">
    <span class="col-sm-11">
      To {{vacationPolicy.workingYear}} year, type: {{vacationPolicy.vacationType}}
      count: {{vacationPolicy.count}}, payments: {{vacationPolicy.payments}}
    </span>
    <button *ngIf="currentRole===allRoles.HrUser" title="delete holiday" (click)="deleteVacationPolicy(vacationPolicy)" class="btn btn-secondary btn-sm pos">
      x
    </button>
  </li>
</ul>
<button *ngIf="currentRole===allRoles.HrUser" type="button" class="btn btn-primary btn-lg" (click)="openDialog()">
  Create a new Vacation Policy
</button>

