
  <div class="container">
    <br><h2>You are manager for 6 teams</h2><br><br>
    <div class="block-grid-xs-1 block-grid-sm-2 block-grid-md-3 block-grid-lg-4">
      <div class="pixel-border col-sm-6">Content 1</div>
      <div class="pixel-border col-sm-6">Content 2</div>
      <div class="pixel-border col-sm-6">Content 3</div>
      <div class="pixel-border col-sm-6">Content 4</div>
      <div class="pixel-border col-sm-6">Content 5</div>
      <div class="pixel-border col-sm-6">Content 6</div>
    </div>
</div>
